.root {
    -fx-background-image: url("img/background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 600;
    -fx-background-position: center center;
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: #70c045;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #52a126;
}

.board-container {
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}

.pieces-container {
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}

.pieces-container .label {
    -fx-background-radius: 20;
}

.blue {
    -fx-background-color: #71cafe;
}

.orange {
    -fx-background-color: #ff8c34;
}